# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
venv/
ENV/

# Data & Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
*.pkl
*.csv

# IDEs
.vscode/
.idea/
